name: Release
on:
  push:
    tags:
      - '*'
permissions: read-all
jobs:
  push:
    name: Push gem to RubyGems.org
    runs-on: ubuntu-latest

    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing
      contents: write # IMPORTANT: this permission is required for `rake release` to push the release tag

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
          ref: master
          persist-credentials: true
      - run: |
          sudo apt-get update
          sudo apt-get install -y libmagickwand-dev
      - uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8
        with:
          bundler-cache: true
          ruby-version: ruby
      - uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b
