name: Score
on:
  push:
permissions: read-all
jobs:
  Scorecard:
    if: github.ref_name == github.event.repository.default_branch
    environment: staging
    runs-on: ubuntu-latest
    permissions:
      security-events: write # to upload the results to code-scanning dashboard
      id-token: write        # to publish_results and get a badge
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        publish_results: true
        results_file: results.sarif
        results_format: sarif
    - uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e
      with:
        sarif_file: results.sarif
