name: Test
on:
  push:
permissions:
  contents: read
  id-token: write
jobs:
  test:
    environment: staging
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby-version }}
    strategy:
      matrix:
        ruby-version: [3.1, 3.2, 3.3]
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: supercharge/mongodb-github-action@5a87bd81f88e2a8b195f8b7b656f5cda1350815a
      with:
        mongodb-version: '4.4'
    - run: |
        sudo apt-get update
        sudo apt-get install -y libmagickwand-dev
    - uses: ruby/setup-ruby@a2bbe5b1b236842c1cb7dd11e8e3b51e0a616acc
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # 'bundle install' and cache
    - run: bundle exec rake
    - run: bundle exec rubocop
    - run: bundle exec inch --pedantic
    - uses: qltysh/qlty-action/coverage@v1
      with:
        codeclimate-test-reporter-id: ${{ secrets.CC_TEST_REPORTER_ID }}
        command: after-build --coverage-input-type lcov
        oidc: true
        files: coverage/lcov.info
    - uses: coverallsapp/github-action@cfd0633edbd2411b532b808ba7a8b5e04f76d2c8
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
