name: Test
on:
  push:
permissions:
  contents: read
  id-token: write
jobs:
  test:
    environment: staging
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby-version }}
    strategy:
      matrix:
        ruby-version: [3.1, 3.2, 3.3]
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: supercharge/mongodb-github-action@5a87bd81f88e2a8b195f8b7b656f5cda1350815a
      with:
        mongodb-version: '4.4'
    - run: |
        sudo apt-get update
        sudo apt-get install -y libmagickwand-dev
    - uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # 'bundle install' and cache
    - run: bundle exec rake
    - run: bundle exec rubocop
    - run: bundle exec inch --pedantic
    - uses: qltysh/qlty-action/coverage@a19242102d17e497f437d7466aa01b528537e899 # v2.2.0
      with:
        codeclimate-test-reporter-id: ${{ secrets.CC_TEST_REPORTER_ID }}
        oidc: true
        files: coverage/lcov.info
    - uses: coverallsapp/github-action@cfd0633edbd2411b532b808ba7a8b5e04f76d2c8
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
